@font-face {
  font-family: "ledfont";
  src: url("../ledfont.ttf");
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
  font-family: "ledfont";
}

.container {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time {
  font-size: 10rem;
  font-weight: 600;
  color: white;
}

#date {
  font-size: 3rem;
  margin-top: 20px;
  font-weight: 600;
  color: white;
}
